
.text-box{
   margin-left: 30%;
    transform: translate(-50%,-50%);
    text-align: left;
  
}
.heading-primary{
    color: rgb(13, 13, 13);
    text-transform: uppercase;
    backface-visibility: hidden; /* for animation */
}
.heading-primary-main{
    
  
    display: block;
    
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}  

.heading-primary-sub{
  
    display: block;
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  
}
  @keyframes moveInLeft {
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }
    80% {
      transform: translateX(10px);
    }
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }
    
    @keyframes moveInRight {
      0% {
          opacity: 0;
          transform: translateX(100px);
      }
      80% {
          transform: translateX(-10px);
      }
      100% {
          opacity: 1;
          transform: translate(0);
      }
    }

    @keyframes moveInBottom {
          0% {
              opacity: 0;
              transform: translatey(30px);
          }
       
          100% {
              opacity: 1;
              transform: translate(0);
          }
        }